html {font-family: Arial; display: inline-block; text-align: center;}
h2 {font-size: 2.0rem;}
p {font-size: 1.0rem;}
 .range-slider2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}

body {max-width: 900px; margin:0px auto; padding-bottom: 25px;}	
.container {width: 80%;margin: 7px auto;} /* height: 280px; */
.row {display: table-row;  } /* margin: 10px; padding: 5px;*/
.column  {display: table-column; height: 175px; padding: 5px; border: none; float: left;} 

.pg_container {display: table; padding: 5px; margin: 10px; border: 1px solid #666666; background-color:#6cf; } 
.tm_container {display: table; padding: 0px; margin: 0px; background-color: #e0ffff; border: none}  

.divz{position:  relative; display: table-cell; float: left; height: 30px; width: 30px; margin: 1px 3px; border-radius: 3px; background-color: #ccc; border: 1px solid #888}
.divr{position:  relative; display: table-cell; float: left; height: 25px; width: 25px; margin: 3px 7px; border-radius: 3px; background-color: #ccc; border: 1px solid #888}
.divs{position:  relative; display: table-cell; float: left; height: 22px; width: 22px; margin: 5px 2px; border-radius: 3px; background-color: #ccc; border: 1px solid #888}
.divcr{position:  relative; display: table-cell; float: right; height: 25px; width: 55px; margin: 3px 7px; border-radius: 3px; background-color: #fc9; border: 1px solid #888}
.divzr{position: relative; display: table-cell; float: right; height: 25px; width: 25px; margin: 3px 27px 3px 40px; border-radius: 3px; background-color: #ccc; border: 1px solid #888}

.lpad {background-color: transparent;  border-radius: 4px; height: 35px; width: 35px;} 
.btnzr {position: absolute; margin: 0px; top: 4px; left: 0px; height: 18px; width: 25px;  color: black; background-color: transparent; border-radius: 3px; font-weight: bold; font-size: 14px; }
.btnr {position: relative; float: right; margin: 0px; left: 0px; height: 25px; width: 25px; opacity: 0;  background-color: transparent; border-radius: 3px; font-weight: bold; font-size: 10px;  android:text="disable keyboard"}
.btnc {position: absolute; float: center; border: 1px; margin: 0px; padding-top: 5px; left: 0px; height: 25px; width: 55px; background-color: transparent; border-radius: 3px; font-weight: bold; font-size: 14px;}
.reads {margin-top: 2px; font-size: 24px; float: left; background-color: transparent; border: none; text-align: right; font-weight: bold;}    /* transparent */ 
.unit {position: absolute; text-align: left; margin:10px 0 0 0; background-color: transparent; width: 30px}
.errline {animation:blinkingText .7s infinite; font-size: 16px; float: left; background-color: transparent; border: none; text-align: center; font-weight: bold; maxlength: 16}  
.hrInvis {padding: 2px; background-color: transparent; border: none;}

#jog_dial {background: url('base_bg.png'); background-repeat: none; } 
#jog_dial #jog_dial_knob {background: url('base_knob.png'); background-repeat: none;)} 

.screenChangeL {border: 1px solid #666; background-color:#6cf; padding: 5px; width:60px; font-size: 15px; font-weight: bold;}
.buttonForm {position: relative; float: right;}
.buttonTop {display: flex; justify-content: left; margin: 0px;}
.headlineL {border: 1px none;  font-weight: bold; font-size: 22px; pointer-events: none; text-align: left; background-color: transparent;}
.headlineS {display: inline-block; border: 1px none;  font-weight: bold; font-size: 25px; pointer-events: none; text-align: center; background-color: transparent;}

.blinking{animation:blinkingText 1.2s infinite;border: 1px none; text-align: center; font-weight: bold; font-size: 25px; background-color: transparent;}
@keyframes blinkingText{
	0%{     color: #f00;    }
	49%{    color: #f00; }
	60%{    color: transparent; }
	99%{    color:transparent;  }
	100%{   color: #f00;    }
}
/* Faders */
/*  .slidery {display: inline-block; background-color: #ccc; border-radius: 1px; margin: 0px 0px;}    
.chanName {background-color: #ccc; text-align: center; width: 70px; padding: 3px; border-radius: 3px; border: 0px none; font-weight: bold; }*/
/*  .screenChangeR {display: none;}*/
/*	.headlineO {border: 1px none;  font-weight: bold; font-size: 25px; text-align: left;}*/
/*.btna {height: 35px; width: 35px; opacity: 0; color: black;  background-color: transparent; border-radius: 3px; font-weight: bold; font-size: 14px; margin: 0px; top: 12px;}*/
/* .btnz:before {position: absolute; content: ""; height: 1px; width: 1px; left: 6px; bottom: 0px; top: 12px; background-color: #fff; -webkit-transition: .2s; transition: .2s; border-radius: 4px}
*/
/*.labelz:before {position: absolute; content: ""; height: 35px; width: 35px; left: 6px; bottom: 0px; top: 3px; background-color: #fff; border-radius: 4px}*
.labelz {vertical-align: bottom; background-color: #333; border-radius: 3px;}
*/
/*	.divzc{position: relative; display: table-cell; float: center; height: 35px; width: 35px; margin: 3px 7px; border-radius: 3px; background-color: #ccc; border: 1px solid #888} */
/* .btnq {position: absolute; margin: 0px; left: 0px; height: 35px; width: 35px; opacity: 0;  background-color: transparent; border-radius: 3px; font-weight: bold; font-size: 14px;  android:text="disable keyboard"}*/
/*.bm_container {display: inline-block; padding: 0px; margin: auto; align: center;}  	 */
/* .tx_container {display: table; padding: 5px;} */
/* Solo, On/Off and Pad buttons */
/*.column2 {display: table-column;  padding: 5px; border: none;  float: left;} */
/*.cell {display: table-cell; margin: 2px;  padding: 5px; float: left;} */  
/* .btnz {position: absolute; margin: 0px; top: 8px; left: 0px; height: 27px; width: 35px;  color: black; background-color: transparent; border-radius: 3px; font-weight: bold; font-size: 14px; } */